.navbar{
    position: -webkit-sticky; /* safari用 */
    position: sticky;
    top: 0;
}

.slide{
    position: relative;
    width: 100vw;
    height: 50vh;
    background: linear-gradient(transparent, transparent, rgba(0,0,0,1) );
}

.introduction-title{
    position: absolute;
    z-index: 100;
    bottom: 0;
    right: 10vw;
    color: white;
    font-size: 3.0rem;
}
