@media screen and (min-width: 1024px){
    html {
        font-size: 100%;
    }
}

@media screen /* and (min-width: 768px) */ and (max-width: 1023px){
    html {
        font-size: 75%;
    }
}


/* @media screen and  (max-width: 767px){ */
/*     html { */
/*         font-size: 62.5%; */
/*     } */
/* } */

.Home{
    background-color: #2f2f2f;
    color: white;
    overflow-x: hidden;
}


.topic-group{
    text-align: left;
    margin: 0 -200%;
    padding: 40px 200%;
}

.back-about{
    background-color: #003a63;
}

.back-skills{
    background-color: #2f2f2f;
}

.back-work{
    background-color: #2f0000;
}

.topic-header{
    font-size: 3.0rem;
    /* color: white; */
    /* background-color: white; */
    /* border-left: 15px solid orange; */
    /* padding-left: 10px; */
    /* box-shadow: 1px 0 5px 1px #999; */
}

.icon{
    margin-right: 1.0rem;
}

.topic-contents{
    width: 90%;
    font-size: 1.4rem;
    line-height: 2.5rem;
    margin: 2.0rem auto;
    margin-bottom: 2.0rem;
}

.contents-header{
    border-bottom: 2px solid white;
    padding-bottom: 5px;
}


.work-group{
    margin: 2.0rem 0;
}

.work-card{
    width: 30vw;
    min-width: 300px;
    background-color: #2f2f2f;
    color:white;
    box-shadow: 1px 0 5px 1px white;
}

.work-body{
    background-color: #2f2f2f;
    padding: 20px;
}

.work-image{
    width: 100%;
    height: ;
    backgrond-color: yellow;
}

.work-image img{
    width: 100%;
    height: 100%;
}

.work-title{
    padding-bottom: 5px;
    border-bottom: 1px solid white;
    font-size: 1.2em;
    font-weight: bold;
}

.work-text{
    font-size: 0.8em;
}

.work-link:hover{
    color: aqua;
}


/*-------ON/OFFスイッチ-------*/
.switch__label {
    width: 37px;
    position: relative;
    display: inline-block;
    padding-top: 3px;
}
.switch__content {
    display: block;
    cursor: pointer;
    position: relative;
    border-radius: 7px;
    height: 14px;
    background-color: rgba(255,255,255,0.4);
    -webkit-transition: all .1s .4s;
    -moz-transition: all .1s .4s;
    -ms-transition: all .1s .4s;
    -o-transition: all .1s .4s;
    transition: all .1s .4s;
    overflow: hidden;
}

.switch__content:after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 7px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.switch__input {
    display: none;
}
.switch__circle {
    display: block;
    top: 0px;
    left: 0px;
    position: absolute;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: #F1F1F1;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.switch__input:checked ~ .switch__circle {
    left: 18px;
    background-color: #00ff00;
}
.switch__input:checked ~ .switch__content {

    border-color: transparent;
    -webkit-transition: all 0s;
    -moz-transition: all 0s;
    -ms-transition: all 0s;
    -o-transition: all 0s;
    transition: all 0s;
}

.switch__input:checked ~ .switch__content:after {
    background-color: rgba(0,255,0,.5);
    width: 100%;
}

/*------------------------------------------------*/
