.skill-group{
    display: flex;
    flex-wrap: wrap;
}

.skill-content{
    display: flex;
    flex-direction: column;
    opacity: 0.7;
    margin: 0.8rem;
    padding: 0.8rem;
}

.skill-content:hover{
    opacity: 1.0;
    transition-duration: 0.1s;
}

.skill-content:hover >.skill-icon >img{
    opacity: 1.0;
    transition-duration: 0.1s;
    width: 100%;
    height: 100%;
}

.skill-icon{
    position: relative;
    width: 18vw;
    height: 18vw;
    max-width: 90px;
    max-height: 90px;
    margin: 0 auto;
    margin-bottom: 10px;
    text-align:center;
}

.skill-icon img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    opacity: 0.8;
    width: 90%;
    height: 90%;
    background-color: white;
    vertical-align: middle;
}

.skill-name{
    font-size: 1.0rem;
    border-top: 1px solid white;
    border-bottom: 1px solid white
}
